@model IEnumerable<WebThoiTrang.Models.Product>

@using Microsoft.AspNet.Identity


<h2>Product</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="width: 100%; ">
    <tr class="productTitle">
        <th>
            Mã Sản Phẩm
        </th>
        <th class="text-center">
            Sản Phẩm
        </th>
        <th>
            Tải Lên Bởi
        </th>
        <th>
            Cập Nhập Lên Bởi
        </th>
        <th>
            Giá Tiền
        </th>
        <th>
            Thương Hiệu
        </th>
        <th>
            Kích cỡ
        </th>
        <th>
            Màu sắc
        </th>
        <th>
            Số Lượng
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="productList" ondblclick='location.href="@Url.Action( "Details",new { id = item.MASP })"' >
            <td>
                @Html.DisplayFor(modelItem => item.MASP)
            </td>
            <td class="row imgCont" style="width: 550px; padding-left:30%; ">
                <div class="col box-container">
                    <img style='height: 100%; width: 100%; object-fit: contain' src="~/Assets/Images/@item.ANHSP" />
                </div>
                <div class="col pro-name"> @item.TENSANPHAM</div>

            </td>
            <td class="avatar">
                <img class="img-profile rounded-circle" style="width:30%;"
                     src="~/Assets/Admin/img/undraw_profile.svg" />
                <br />
                <span class="mr-2 d-none d-lg-inline text-gray-600 small userName">@item.TENNV.Replace("@vanlanguni.vn", "").Replace("@gmail.com", "")</span>
            </td>
            <td class="avatar">
                <img class="img-profile rounded-circle" style="width: 30%;"
                     src="~/Assets/Admin/img/undraw_profile.svg" />
                <br />
                <span class="mr-2 d-none d-lg-inline text-gray-600 small userName">@item.TENNV.Replace("@vanlanguni.vn", "").Replace("@gmail.com", "")</span>
            </td>
            <td>
                <div class="product">
                    @item.GIATIEN
                </div>
            </td>
            <td>
                <div class="product">
                    @item.THUONGHIEU
                </div>
            </td>
            <td>
                <div class="product">
                    @item.SIZE
                </div>
            </td>
            <td>
                <div class="product">
                    @item.MAU
                </div>
            </td>
            <td>
                <div class="product">
                    @item.SOLUONG
                </div>
            </td>


            <td class="actionLink iconLink">
                <i onclick='location.href="@Url.Action( "Edit",new { id = item.MASP })"' class="fas fa-pen edit"> </i> 
                <i onclick='location.href="@Url.Action( "Delete",new { id = item.MASP })"' class="far fa-trash-alt delete"></i>

            </td>
        </tr>
    }

</table>
