@model IEnumerable<WebThoiTrang.Models.CartDetail>

@{
    ViewBag.Title = "Index";
    int total= 0;
    int shippingCost = 20;
    int discount = 0;
}

<p class="abc">Shopping Cart</p>
<div class="">
    <div class="row">
        <div class="col-md-8 left-cont">
            <div class="row align-items-center ">
                <div class="col-md-4"><label for="itm">Item</label></div>
                <div class="col-md-2"><label for="itm">Price</label></div>
                <div class="col-md-2"><label for="itm">Amount</label></div>
                <div class="col-md-2"><label for="itm">Subtotal</label></div>
                <div class="col-md-2"></div>

                <!--Row 2-->
                @foreach (var item in Model)
                {
                    <div class="col-md-4 mt-5">
                        <div class="d-flex">
                            <img src="~/Assets/Images/@item.Product.ANHSP" alt="@item.Product.ANHSP" style="width: 100%;height: 100%;">
                        </div>
                        <div class="media-body">
                            <p>@item.Product.TENSANPHAM</p>
                        </div>
                    </div>
                    <div class="col-md-1"><label for="itm">@item.Product.GIATIEN.ToString("N0")$</label></div>
                    <div class="col-md-3">
                        <form id="quantityForm" action="@Url.Action("Index", "Cart")" method="post">
                            <input type="hidden" name="ProductId" value="@item.MASP" />
                            <div class="def-number-input number-input safari_only mb-0" style="text-align:center;">
                                <button id="down" type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown() "
                                        class="fa fa-minus" style=" color: blue; background-color: Transparent;background-repeat: no-repeat;border: none;"></button>
                                <input class="Quantity" style="width: 30%; text-align: center;" name="quantity" value="@item.SOLUONG" type="number">
                                <button id="up" type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                        class="fa fa-plus" style=" color: blue; background-color: Transparent;background-repeat: no-repeat;border: none;">
                                </button>
                                <br />
                                <input type="submit" class="updateProduct" value="update">

                            </div>
                        </form>

                    </div>

                    <div class="col-md-2"><label for="itm">@((item.Product.GIATIEN * item.SOLUONG).ToString("N0"))$</label></div>
                       
                    <div class="col-md-1">
                        @*@using (Html.BeginForm("Delete", "Cart", new { id = item.Product.MASP }))
                        {*@
                            <a href="@Url.Action("Delete","Cart")"><i class="far fa-times-circle"></i></a> 

                        @*}*@
                    </div>

                    total += @item.Product.GIATIEN * @item.SOLUONG;
                <!---->
                }
                <div class="pt-5 pr-5">
                    <div class="col-md-6">
                        <button type="button" class="btn btn-outline-secondary">Continue Shopping</button>
                        <button type="button" class="btn btn-dark"><a href="@Url.Action("Delete","Cart")" style="color: white; text-decoration:none;">Clear Shopping Cart</a></button>
                    </div>
                </div>
            </div>
        </div>
        <!---->
        <div class="col-md-4">
            <div class="box-container" style="width: 150%; height: 100vh; display: inline-flex; flex-direction: column; justify-content: space-evenly; align-items:flex-start; padding-left: 10%;">

                <h2>Summary</h2>
                <h3>Estimate Shipping and Tax</h3>
                <p><input type="text" class="form-control" placeholder="Enter your destination to get a shipping estimate." required name="Destination" style="width: 400px; height:5vh;"></p>
                <h3>Apply Discount Code</h3>
                <form action="@Url.Action("ApplyCode", "Cart")" method="post">
                    <input type="text" class="form-control" placeholder="Enter your discount code." required name="Discount" style="width: 400px; height:5vh;">
                    <input type="submit" value="Apply" />
                </form>
                <h3>Discount</h3>
                
                <h4>$@ViewBag.couponValue </h4>

                <h3>Shipping</h3>
                <h4>$@shippingCost</h4>
                <h3>Subtotal</h3>
                <h4>$@total</h4>

                <div><button type="button" class="btn  btn-primary" onclick="window.location.href='../../Bills/Create'">Proceed to Checkout</button></div>
                <div><button type="button" class="btn btn-warning mt-2 ">Check out with PayPal</button></div>
            </div>
        </div>
    </div>
</div>
