@model IEnumerable<WebThoiTrang.Models.LOHANG>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MALOHANG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MANPP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAYNHAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NHAPHANKHOI.EMAIL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MALOHANG)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MANPP)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NGAYNHAP)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NHAPHANKHOI.EMAIL)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.MALOHANG }) |
        @Html.ActionLink("Details", "Details", new { id = item.MALOHANG }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.MALOHANG })
    </td>
</tr>
}

</table>
