@model WebThoiTrang.Models.LOHANG

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LOHANG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NGAYNHAP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYNHAP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NHAPHANKHOI.QUAN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHAPHANKHOI.QUAN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MALOHANG }) |
    @Html.ActionLink("Back to List", "Index")
</p>
